/* body {
    display: flex;
    flex-direction: column;
} */

.header,
.footer {
    display:flex;
    justify-content: space-around;
    align-items: center;

    background-color: #1f2937;
    margin: -10px;
    padding: 10px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.text {
    text-decoration: none;
    padding: 10px;
    
    font-size: 18px;
    color: #e5e7eb;
}

.section-1 {
    display: flex;
    margin: auto -10px;
    padding: 100px;/* 100px 200px ?*/
    background-color: #1f2937;
    justify-content: center;
}

.section-1-box {
    border: 2px solid blue;
    width: 600px;
    height: 300px;
}

.img-placeholder {
    border: 2px solid green;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: slategray;
    width: 600px;
    height: 300px;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    /* color: #f9faf8; */
    margin: 0;
}

button {
    color: white;
    background-color: #3882f6;
    font-weight: bold;
    padding: 8px 22px;
    border-radius: 12px;
    border: 2px solid #fff;
    font-size: 18px;
}

.img-box {
    border: 4px solid #3882f6;
    height: 120px;
    width: 120px;
    border-radius: 12px;
    margin: 20px;
    padding: 10px;
}

.section-2 {
    display: flex;
    flex-direction: column;
    margin: 60px;
}

.section-2-box {
    display: flex;
    justify-content: center;
}

.img-text {
    margin-top: 100%;
    text-align: center;
}

.section-3 {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    margin-top: 80px;
    padding: 80px 260px;
    align-items: flex-end;
}

.section-3-quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin-bottom: 0;
}

/* Thor, God of Thunder */
.section-3-author {
    font-weight: bold;
    font-size: 25px;
}

.section-4 {
    display: flex;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 24px;
    padding: 20px 100px;
    margin: 100px;
    align-items: center;
    border-radius: 12px;
}

.section-4-box {
    flex: 80%;
}

.section-4-button {
    display: flex;
    flex: 20%;
    justify-content: center;
}