.header,
.footer {
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    padding: 20px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
}

.text,
.header-links {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.header-links {
    padding: 14px;
}

.section-1 {
    display: flex;
    padding: 100px;
    background-color: #1f2937;
    justify-content: center;
}

.section-1-box {
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0;
}

.img-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: slategray;
    width: 600px;
}

h1 {
    font-size: 36px;
    margin: 40px;
    color: #1f2937;
}

button {
    color: white;
    background-color: #3882f6;
    font-weight: bold;
    padding: 8px 22px;
    border-radius: 12px;
    border: 2px solid #fff;
    font-size: 18px;
}

.section-2 {
    display: flex;
    flex-direction: column;
    background-color: #f9faf8;
    padding: 20px 12px 160px;
    align-items: center;
}

.section-2-box {
    display: flex;
}

.img-box {
    border: 4px solid #3882f6;
    height: 140px;
    width: 140px;
    border-radius: 12px;
    margin: 20px 32px;
    padding: 10px;
}


.img-text {
    margin-top: 100%;
    text-align: center;
    color: slategray;
}

.section-3 {
    background-color: #e5e7eb;
    padding: 100px 400px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

/* Thor, God of Thunder */
.section-3-author {
    font-weight: bold;
    font-size: 25px;
    margin: 0px 60px;
    color: #1f2937;
    text-align: end;
    font-style: normal;
}

.section-4 {
    display: flex;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 24px;
    padding: 20px 100px;
    margin: 100px 300px;
    align-items: center;
    border-radius: 12px;
    justify-content: space-around;
}